#csp_settings {
  clear: both;
}

#csp_settings [hidden] {
  display: none;
}

#csp_settings .section-header {
  font-size: 1.6em;
  margin-bottom: 0.6em;
}

#csp_settings details, #csp_settings summary {
  margin: 1em 0;
}

#csp_settings .section-category {
  margin-left: 1em;
}

#csp_settings summary h3, #csp_settings summary h2 {
  display: inline;
}